<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Books</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 2px solid black;
            padding: 5px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>author</th>
            <th>year_written</th>
            <th>edition</th>
            <th>price</th>
        </tr>
        <% books.forEach(item => { %>
        <tr>
            <td><%= item.id %></td>
            <td><a href="/books/<%= item.id %>"><%= item.title %></a></td>
            <td><%= item.author %></td>
            <td><%= item.year_written %></td>
            <td><%= item.edition %></td>
            <td><%= item.price %></td>
        </tr>
        <%}) %>
    </table>
</body>
</html>